[submodule "external/lang"]
	path = external/lang
	#url = https://github.com/taotao2008/translations
        url = git@github.com:taotao2008/translations.git
[submodule "external/components"]
	path = external/components
	url = https://github.com/revoltchat/components
[submodule "external/revolt.js"]
	path = external/revolt.js
	url = https://github.com/revoltchat/revolt.js
